html {
	background: white
}

body {
	position: relative;
	background: white;

	max-width: 800px;
	margin: 0 auto;
	padding: 0 0 1.6em 0;
	
	font-size: 16px;
	line-height: 1.6em;
	font-family: Georgia, serif;
}

h1, h2, h3, h4, h5 {
	line-height: 1.6em;

	font-family: Helvetica, Arial, sans-serif;
	
	font-weight: normal;
	
	padding: 0 60px;
}


h1 {
	position: relative;
	font-size: 1.1em;
	line-height: 1.4545em;
	text-align: left;
	
	font-weight: bold;
	color: white;
	
	padding: 1.4545em 60px 1.4545em;
	margin: 0;
}


p + h1, ul + h1, ol + h1 {
	margin-top: 1.4545em;
}

h2 {
	position: relative;
	font-size: 1em;
	line-height: 1.6em;
	/* text-transform: uppercase; */
	
	background: #ddd;
	padding: 0.8em 60px;
	margin: 1.6em 0 0.8em 0;
	
	font-weight: bold;
}

p {
	padding: 0 60px;
	margin: 0.8em 0 ;
}

aside {
	font-size: 0.8em;
	line-height: 2em; 
	text-align: right;
	
	padding: 0 60px;
	margin: -1.8em 0 0;
}

ul, ol {

	padding: 0 60px;
	display: block;
	margin: 0.8em 0;
	padding: 0;
	
	list-style: none;
}

ol { 
	counter-reset: li;
}

ul li, ol li {
	display: block;
	margin: 0 60px 0;
	padding: 0 0 0 1.6em;
	
	list-style: none;
}

ul li::before {	
	content: "•"; 
  	display: inline-block; 
  	width: 1.6em;
  	margin: 0 0 0 -1.6em;
  	text-align: center;
}

li {
	counter-increment: li;
}

ol li::before {	
	content: counter(li) "."; 
	display: inline-block;	
	width: 1.6em;
	margin: 0 0 0 -1.6em;
	text-indent: 0em;
}

a {

	font-weight: bold;
	
	text-decoration: none;
	color:#7b3f02;
}

a:hover {
	border-bottom: dotted 1px green;
}

pre {
	font-family: Consolas, monospace;
	
	white-space: pre-wrap;
	
	font-size: 1em;
	line-height: 1.6em;
	margin: 1.6em 0;
}

footer {	
	font-size: 0.8em;
	text-align: center;
	
	margin-top: 3.2em;
}

footer ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0
}

footer li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0
}

footer ul li::before {
	display: none;
}

footer ul li + li::before {
	content: "•"; 
	color: #9d5e16;
  	display: inline-block; 
  	width: 1.6em;
  	margin: 0 0 0 0em;
  	text-align: center;
}

