html {
}

body {
	position: relative;

	max-width: 800px;
	margin: 0 auto;
	padding: 0 1em 1.6em 1em;
		
	font-size: 18px;
	line-height: 1.6em;
	font-family: Georgia, serif;
}

h1, h2, h3, h4, h5 {
	line-height: 1.6em;

	font-family: Helvetica, sans-serif;
		
	font-weight: normal;
}


h1 {
	position: relative;
	font-size: 1.05em;
	line-height: 1.6em;
	
	font-weight: 100;
	text-transform: uppercase;

	color: #580000;
	
	padding: 0;
	margin: 1.4545em 0 0;
}

h1.main {
	color:black;
	height: 2.9em;
	margin: 1.4545em 0 0 0;
	padding: 0;
}

h2 {
	position: relative;
	font-size: 0.8em;
	line-height: 1.6em;
	
	font-weight: 100;
	text-transform: uppercase;

	color: #580000;
	
	padding: 0;
	margin: 1.4545em 0 0;
}

p {
	padding: 0;
	margin: 1.4545em 0 0;
}

aside {
	font-size: 1em;
	line-height: 1.8em;

	
	width: 92%;
	
	padding: 0;
	margin: 1em 0 0em auto;
}

ul, ol {

	padding: 0 60px;
	display: block;
	margin: 0.8em 0;
	padding: 0;
	
	list-style: none;
}

a {

	font-weight: 100;
	
	text-decoration: none;
	color:#580000;
}

#body a:hover {
	border-bottom: solid 1px dedede;
	background: #efefef;
}

pre {
	font-family: Consolas, monospace;
	
	white-space: pre-wrap;
	
	font-size: 1em;
	line-height: 1.6em;
	margin: 1.6em 0;
}

li a pre {
	font-family: Consolas, monospace;

	white-space: pre-wrap;

	font-size: 1em;
	margin: 0;
}

h1 pre, h1 code {
	font-size: 1.2em;
	margin: 0;
}

div.footer {
	font-size: 0.85em;
	line-height: 16.em;
	
	font-style: italic;
	
	text-align: right;
	margin: 1em 0 0 0;
}

footer {	
	font-size: 0.8em;
	text-align: center;
	
	margin-top: 3.2em;
}

hr:before
{
	content: "***";
}

hr
{
	font-weight: 1em;
	height: 1.4545em;
	border: none;
	text-align: center;
	margin: 1.4545em 0 1.4545em 0;
	padding: 0;

}

ul.stories {

	margin: 0 -1.4545em 0 -1.4545em;
}

ul.stories li a {
	display: block;
	height: 1.55em;
	border-bottom: solid white 1px;
	padding: 0.725em 1.4545em 0.725em 1.4545em;
}

a.home {
    position: absolute;
    width: 3em;
    height: 3em;
    text-align: center;
    left: -3em;
}

a.home pre {
    height: 100%;
    width: 100%;
    line-height: 3em;
    vertical-align: middle;
    display: inline;
}

code {
    font-size: 0.8em;
   	color: #580000;
}

span.elsewhere {
    font-weight: 100;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
}
